ul {
  list-style-type: none;
  font-size: 12px
}

p {
  list-style-type: none;
  font-size: 12px
}

#gmap {
  height: 100%;
  width: 100%;
  position: absolute; 
  top: 0; 
  bottom: 0px; 
  left: 0; 
  right: 0; 
  z-index: -5;
}

.overlap{
  z-index:1;
  height: 100%;
  width: 100%;
  position: static; 


}



.modal { 
  opacity: 0.93;
  z-index: 2;

}

.card { 
  opacity: 0.93;
}

.navbar { 
  opacity: 0.93;
}

.img { 
  opacity: 1.0;
}

